.ipynb_checkpoints
*.tfrecords
*.gz
.idea
__pycache__
.boto
.cache
.bash_logout
.bashrc
.config
.gitconfig
.ssh
src
tutorials
.local
.keras
.profile
.ipython/
.jupyter/
.viminfo
.DS_Store
sagemaker-role.py